/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --main-font: 'Inter', Arial, sans-serif;
    --accent-font: 'PressStart2P-Regular', Montserrat, sans-serif;
    --main-text-thickness: 400;
    --heading-thickness: 700;
    --background-color: #1a1a1a;
    --themes-background: #fff;
    --accent-color: #000;
    --gradient-pattern-x: repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px);
    --gradient-pattern-y: repeating-linear-gradient(0deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px);
    --gradient-pattern-linear: linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    --button-text-color: #fff;
    --fill-heart-color: rgba(255 255 255 / 1);
    --fill-contour-color: rgba(0 0 0 / 1);
    --backdrop-color: rgba(0 0 0 / .75);
}

:root.theme-dark {
    --main-font: 'Inter', Arial, sans-serif;
    --accent-font: 'PressStart2P-Regular', Montserrat, sans-serif;
    --main-text-thickness: 465;
    --heading-thickness: 700;
    --background-color: #004306;
    --themes-background: #000;
    --accent-color: #00cc14;
    --gradient-pattern-x: repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px, transparent 4px);
    --gradient-pattern-y: repeating-linear-gradient(0deg, #000, #000 2px, transparent 2px, transparent 4px);
    --gradient-pattern-linear: linear-gradient(to bottom, #007f0c 0%, #004306 100%);
    --button-text-color: #00cc14;
    --fill-heart-color: rgba(0 0 0 / 1);
    --fill-contour-color: rgba(0 204 20 / 1);
    --backdrop-color: rgba(0 0 0 / .75);
}

@media (prefers-color-scheme: light) {
  :root {
        --main-font: 'Inter', Arial, sans-serif;
        --accent-font: 'PressStart2P-Regular', Montserrat, sans-serif;
        --main-text-thickness: 400;
        --heading-thickness: 700;
        --background-color: #1a1a1a;
        --themes-background: #fff;
        --accent-color: #000;
        --gradient-pattern-x: repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px);
        --gradient-pattern-y: repeating-linear-gradient(0deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px);
        --gradient-pattern-linear: linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
        --button-text-color: #fff;
        --fill-heart-color: rgba(255 255 255 / 1);
        --fill-contour-color: rgba(0 0 0 / 1);
        --backdrop-color: rgba(0 0 0 / .75);
    }
  }

@media (prefers-color-scheme: dark) {
  :root {
        --main-font: 'Inter', Arial, sans-serif;
        --accent-font: 'PressStart2P-Regular', Montserrat, sans-serif;
        --main-text-thickness: 465;
        --heading-thickness: 700;
        --background-color: #004306;
        --themes-background: #000;
        --accent-color: #00cc14;
        --gradient-pattern-x: repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px, transparent 4px);
        --gradient-pattern-y: repeating-linear-gradient(0deg, #000, #000 2px, transparent 2px, transparent 4px);
        --gradient-pattern-linear: linear-gradient(to bottom, #007f0c 0%, #004306 100%);
        --button-text-color: #00cc14;
        --fill-heart-color: rgba(0 0 0 / 1);
        --fill-contour-color: rgba(0 204 20 / 1);
        --backdrop-color: rgba(0 0 0 / .75);
        }
  }
